{% if attribute.value %}
{% spaceless %}
	<span class="textline">
		{% set list = getListbox(attribute.block_attribute_setup) %}
			{% for item in list.content %}
	        	{% if item.key == attribute.value.value %}{{item.value}}{% endif %}
	        {% endfor %}
	</span><br/>
{% endspaceless %}
{% endif %}